.visite {
  padding: 80px 0;
  background: $colorAqua;

  &--title {
    @include font-std(40px, $colorBlack, 600, $font-primary);
    margin: 0 0 60px;
  }

  &--region {
    background-color: $colorWhite;
    padding: 15px 30px;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.webdoor {
  background-color: #E1C500;
  &__title {
    @include font-std(54px, $colorWhite, 600, $font-primary);
    line-height: 1.2;
  }

  &__text {
    @include font-std(26px, $colorWhite, 400, $font-primary);
    line-height: 1.2;
  }
}

//section Concorrer
.concorrer {
  background-color: $colorOrange;
  &__title {
    @include font-std(40px, $colorWhite, 600, $font-primary);
    padding: 85px 0;
  }

  &__number {
    @include font-std(30px, $colorWhite, 600, $font-primary);
  }

  &__text {
    padding-right: 87px;
    padding-bottom: 113px;
    span {
      @include font-std(20px, $colorWhite, 400, $font-primary);
    }

  }

  &__content {
    height: 425px;
    margin-bottom: 117px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 15px;
      width: 1.3rem;
      height: .625rem;
      background-color: #fff;
      border-radius: .625rem;
    }
  }
  
}