.visite {
  padding: 80px 0;
  background: $colorAqua;

  &--title {
    @include font-std(38px, $colorBlack, 600, $font-primary);
    margin: 0 0 60px;
  }

  &--region {
    background-color: $colorWhite;
    padding: 30px 18px;
    margin: 0 30px 0 0;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.05);
    border-radius: 16px;

    @include mobile {
      margin: 0 10px;
      padding: 30px 50px;
    }

    .title {
      @include font-std(18px, $colorRed, 600, $font-primary);
      text-align: center;
    }

    .text {
      @include font-std(14px, $colorBlack, 400, $font-primary);
      text-align: center;
    }

    .m-30 {
      margin: 30px 0;
    }

    .h-65 {
      min-height: 65px;
      @include mobile {
        min-height: auto;
      }
    }
  }

  .m-10 {
    @include mobile {
      margin: 10px 0;
    }
  }

  .m-20 {
    margin: 20px 0;
  }

  .m-50 {
    margin: 50px 0;
    @include mobile {
      margin: 20px 0;
    }
  }
}

.historia {
  background-color: $colorBlue;
  padding: 80px 0;

  &--title {
    @include font-std(38px, $colorWhite, 600, $font-primary);
    margin: 0 0 10px;
    text-align: center;
  }

  &--text {
    @include font-std(24px, $colorWhite, 600, $font-primary);
    margin: 0 0 60px;
    text-transform: uppercase;
    text-align: center;
  }

  &--video {
    .link-video {
      position: absolute;
      top: 21%;
      left: 38%;
      transform: scale(1);
      transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      &:hover {
        transform: scale(1.2);
        transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }

  &--nome {
    @include font-std(30px, $colorWhite, 600, $font-primary);
    margin: 30px 0 0;
  }

  hr {
    height: 5px;
    background-color: $colorWhite;
  }

  .overlay {
    z-index: 99;
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .video {
    position: absolute;
    width: 800px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 400px);
    z-index: 999;

    &--close {
      @include font-std(20px, $colorWhite, 600, $font-primary);
      background-color: $colorRed;
      position: absolute;
      right: 0;
      padding: 10px 20px;

      &:hover {
        text-decoration: none;
        background-color: #680102;
      }
    }
  }
}
