.header {

    &__content {
        height: 100px;
    }
    &__link {
        @include font-std(16px, #000, 900, $font-primary);
        padding: 0 20px;
        
    }
    &__separator {
        font-size: 10px;
    }

}